.page {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.page__title {
  margin: 20px;
  text-align: center;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
