.page {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.page__title {
  margin: 20px;
  text-align: center;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.tasks {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__header_left_tasks {
    margin: auto 0;
  }
  &__header_btn {
    margin: 5px;
    border: 1px solid yellowgreen;
    padding: 5px;
    border-radius: 5px;
    &__active {
      box-shadow: 0 0 5px;
      background-color: rgba(153, 205, 50, 0.2);
    }
  }
}
